@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    //background-color: #f8f8f8; //overflow-y: hidden;
    //background-color: #f2f2f2;
    background-color: #fff;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/*** Header ***/
#header {
    height: 70px;
    background-color: #f2f2f2;
    //box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
    //box-shadow: rgba(0,0,0,0.1) 0px 0px 15px 0px;
    position: fixed;
    z-index: 1000;

    .header_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        #primary-menu {
            margin-bottom: 0px;
            padding-left: 0px;
            margin-left: 0px;

            @include media-breakpoint-down(sm){
                position: absolute;
                width: 100%;
                left: 0px;
                right: 0px;
                top: 70px;
                background-color: #fff;
                border-top: 1px solid #eee;
                display: none;
                z-index: 1000;
            }


            li {
                list-style-type: none;
                display: inline-block;
                //color: #747474;

                @include media-breakpoint-down(sm){
                    display: block;
                }
            }
            
            a{
                font-family: "merriweather sans";
                font-size: 13px;
                margin: 0px 17.5px;
                color: #747474;
                //color: #333;
                text-transform: uppercase;
                transition: all 0.3s ease;
                text-decoration: none;

                &:hover {
                    color: #333;
                }

                @include media-breakpoint-down(sm){
                    padding: 15px 15px;
                    width: 100%;
                    display: block;
                    background-color: #fff;
                    margin-left: 0px;
                    border-bottom: 1px solid #eee;
                    &:hover {
                        color: #fff;
                        text-decoration: none;
                        background-color: #747474;
                        border-bottom: 1px solid #747474;
                    }  
                    &::last-child {
                        border-bottom: none;
                    }
                }
            }
        }

        &__lhs {
            
        }

        &__rhs {
            display: flex;
            position: relative;

            @include media-breakpoint-down(sm){
                width: 100%;
            }

            i{
                padding: 0px 15px;
                color: #A2A2A2;
            }
            .social_div {
                border-right: 1px solid #a2a2a2;padding-right: 10px;
                margin-right: 10px;
            }

            .menu_icon {
                position: absolute;
                right: 0px;
                cursor: pointer;
                
                i {
                    font-size: 24px;
                }
            }

            .search_div {
                cursor: pointer;
                i{
                    transition: all 0.3s ease;
                    &:hover {
                        color: #000;
                    }
                }

                &.active {
                    i {
                        color: #000;
                    }
                }
                
            }

            .search_input_div {
                /* position: absolute;
                top: 50px;
                right: 0px;
                left: 0px;
                display: none; */

                position: absolute;
                top: 47px;
                right: 0px;
                left: 0px;
                display: none;
                padding: 10px;
                background-color: #f2f2f2;

                &__icon {
                    /* position: absolute;
                    top: 11px;
                    left: 12px; */

                    position: absolute;
                    top: 21px;
                    left: 21px;

                    i {
                        padding: 0px;
                        color: #a2a2a2;
                    }
                }
                
                input {
                    /* width: 100%;
                    padding: 10px 10px 10px 40px;
                    border: 1px solid #a2a2a2;
                    outline: none;
                    border-radius: 4px; */

                    width: 100%;
                    padding: 10px 10px 10px 40px;
                    border: 1px solid #ccc;
                    outline: none;
                    border-radius: 4px;
                }
            }
        }
    }
}
/*** Header ***/

/*** Logo ***/
.logo_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0px;
    margin-top: 70px;
    img {
        width: 150px;
    }
}
/*** Logo ***/


/*** Carousel ***/
.carousel_div {
    //background-color: #fff;
    //height: 500px;

    .slider {
        & > div {
            //height: 400px;
            background-color: #fff;
        }
        //margin-bottom: 5px;

        img {
            min-height: 400px;
            max-height: 400px;
            object-fit: cover;
            width: 100%;

            @include media-breakpoint-down(sm) {
                min-height: 250px;
                max-height: 250px;
            }
        }
    }

    .slider-nav-thumbnails {
        .slide_div {
            height: 90px;
            background-color: #f2f2f2;
            padding: 15px;
            cursor: pointer;
            //border-right: 2px solid #F44336;
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-left: 1px;
            margin-right: 1px;

            &:nth-child(even) {
                
            }

            @include media-breakpoint-down(sm) {
                border: none;
            }

            &:last-child {
                border: none;
            }
        }

        & > div {
            .article_category {
                color: #F44336;
                font-family: montserrat;
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            .article_large_heading {
                //font-family: merriweather;
                font-size: 13px;
                line-height: 1.5em;
                font-weight: 700;
                margin-bottom: 0px;

                min-height: 39px;
                max-height: 39px;
            }
        }
    }

    .slick-slide{
        outline: none;
    }
    
    .slick-current {
        background-color: #F44336 !important;
        color: #fff;
    
        .article_category {
            color: #000 !important;
        }
    }
}
/*** Carousel ***/


/*** Body Content ***/
.body_content {
    margin-top: 30px;

    &.article_body {
        margin-top: 0px;

        .article.article_large {

            margin-bottom: 5px;

            img {
                max-height: 450px;
                min-height: 450px;
            }

            .article_large_heading {
                font-size: 26px;
            }
            
            .article_details {
                padding: 30px;
                margin-top: 15px;

                .details_divider {
                    color: #747474;
                    padding: 0px 5px;
                    font-weight: 400;
                }

                .details_date {
                    color: #747474;
                    font-weight: 400;
                }

                .article_category {
                    font-size: 13px;
                }

                .article_large_summary {
                    font-size: 17px;
                    color: #666;
                }

                .author_div {
                    display: flex;
                    align-items: center;
                    margin-top: 15px;
                    margin-bottom: 45px;

                    a {
                        color: #333;
                        font-weight: 600;
                        font-family: "merriweather sans";
                        font-size: 14px;

                        img {
                            width: 45px !important;
                            max-height: 45px !important;
                            min-height: 45px !important;
                            border-radius: 50px;
                            margin-right: 14px;
                        }
                    }
                    
                }

                .article_media {
                    margin-bottom: 15px;

                    img {
                        width: 100%;
                    }
                }

                .article_details__bottom {
                    display: flex;
                    flex-wrap: wrap;
                    .article_details__bottom__lhs {
                        margin-bottom: 20px;
                        .article_tags {
                            border: none;
                            padding: 0px;
                            display: inline-block;
                            margin-left: 5px;
                            background-color: #F5F5F5;
                            color: #333;
                            padding: 5px 10px;
                            border-radius: 0px;
                        }
                    }

                    .article_details__bottom__rhs {
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        .article_like_share {
                            background-color: #FAFAFA;
                            color: #aaa;
                            padding: 5px 10px;
                            border: 2px solid #EFEFEF;
                            border-radius: 50px;

                            .likes_div {
                                width: 50px;
                                font-family: "open sans";
                                font-size: 13px;
                                text-align: center;
                                cursor: pointer;

                                i {
                                    font-size: 14px;
                                }
                            }
                        }

                        .article_social_icons {
                            display: flex;
                            i {
                                color: #aaa;
                                font-size: 12px;
                                border-radius: 40px;
                                border: 1px solid #aaa;
                                width: 30px;
                                height: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-left: 10px;
                            }
                            
                        }
                    }
                }

                
            }
        }

        .author_details {
            width: 100%;
            min-height: 150px;
            background-color: #fff;
            padding: 30px;
            display: flex;

            .author_img {

                img{
                    max-width:100%;
                    max-height:100%;
                    max-height: 90px;
                    max-width: 90px;
                }
            }

            .author_text {
                padding-left: 20px;

                .author_text_title {
                    font-family: "merriweather sans";
                    font-weight: 600;
                    font-size: 15px;
                    margin-bottom: 15px;
                }

                .author_text_summary {
                    font-size: 13px;
                }

                .article_social_icons {
                    display: flex;
                    cursor: pointer;
                    i {
                        color: #aaa;
                        font-size: 11px;
                        border-radius: 40px;
                        border: 1px solid #aaa;
                        width: 25px;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                    }
                    
                }
            }
        }

        .comments_div {
            height: 400px;
            background-color: #fff;
            margin-top: 30px;
            padding: 30px;

            .comments_title {
                font-family: montserrat;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
            }
        }

        /* RELATED ARTICLES */
        .related_articles {

            .slick-slide {
                outline: none;
            }

            #related_articles_slider_container {
                width: 100%;
            }

            .related_articles_header {
                margin: 40px 0px;
                position: relative;

                .prev_related_article {
                    position: absolute;
                    top: -4px;
                    left: 20px;
                    display: inline-block;
                    cursor: pointer;

                    i {
                        font-size: 24px;
                    }
                }

                .next_related_article {
                    position: absolute;
                    top: -4px;
                    right: 20px;
                    display: inline-block;
                    cursor: pointer;

                    i {
                        font-size: 24px;
                    }
                }
                .related_articles_title {
                    font-family: montserrat;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 0px;
                    text-align: center;
                }
               
            }

            .article, .article_large {
                //height: 650px;
                background-color: #fff;
                margin-bottom: 20px;
                border: 1px solid #eee;
                //padding: 20px;

                img {
                    max-height: 350px;
                    min-height: 250px;
                    width: 100%;
                    object-fit: cover;
                }

                /* iframe {
                    width: 100%;
                    max-height: 350px;
                    min-height: 250px;
                    border: none;
                } */

                .video_container {
                    position: relative;
                    width: 100%;
                    max-height: 350px;
                    //min-height: 350px;
                    padding-bottom: 56.25%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    @include media-breakpoint-up(lg) {
                        max-height: 350px;
                        min-height: 350px;
                    }
                }

                .article_details {
                    width: 100%;
                    padding: 30px 25px;

                    .article_category {
                        color: #FF0000;
                        font-family: montserrat;
                        font-size: 11.5px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: #FF0000;
                        }
                    }

                    .article_large_heading {
                        font-family: merriweather;
                        font-size: 20px;
                        line-height: 1.5em;
                        font-weight: 700;
                        margin-bottom: 40px;

                        a {
                            text-decoration: none;
                            color: #333;
                        }
                    }

                    .article_large_summary {
                        font-family: "open sans";
                        color: #747474;
                        font-size: 15px;
                        line-height: 1.85em;
                    }

                    .article_details__bottom {
                        margin: 50px 0px 0px;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        &__lhs {
                            a {
                                color: #747474;
                                padding: 13px 26px;
                                border: 1px solid #747474;
                                border-radius: 50px;
                                font-family: montserrat;
                                font-size: 11px;
                                text-transform: uppercase;
                                text-decoration: none;
                                transition: all .3s ease;
                                display: flex;
                                user-select: none;

                                &:hover {
                                    color: #fff;
                                    background-color: #747474;
                                }
                            }
                        }

                        &__rhs {
                            font-family: merriweather;
                            font-size: 15px;
                        }
                    }
                }
            }

            .article_small_container {
                .article_small {
                    background-color: #fff;
                    //height: 500px;
                    margin-bottom: 30px;

                    img {
                        max-height: 225px;
                        min-height: 225px;
                        width: 100%;
                        object-fit: cover;
                    }

                    .video_container {
                        position: relative;
                        width: 100%;
                        max-height: 225px;
                        min-height: 225px;
                        //padding-bottom: 56.25%;

                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    
                }
            }
        }
        /* RELATED ARTICLES */
        
    }
    /* Article Body */


    &__lhs {
        margin-bottom: 30px;
        padding-right: 5px;

        @include media-breakpoint-down(md) {
            padding-right: 15px;
        }

        &__container, {
            width: 100%;
            //background-color: #fff;

            .article, .article_large {
                //height: 650px;
                background-color: #fff;
                margin-bottom: 20px;
                border: 1px solid #eee;
                //padding: 20px;

                img {
                    max-height: 350px;
                    min-height: 250px;
                    width: 100%;
                    object-fit: cover;
                }

                /* iframe {
                    width: 100%;
                    max-height: 350px;
                    min-height: 250px;
                    border: none;
                } */

                .video_container {
                    position: relative;
                    width: 100%;
                    max-height: 350px;
                    //min-height: 350px;
                    padding-bottom: 56.25%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    @include media-breakpoint-up(lg) {
                        max-height: 350px;
                        min-height: 350px;
                    }
                }

                .article_details {
                    width: 100%;
                    padding: 30px 25px;

                    .article_category {
                        color: #FF0000;
                        font-family: montserrat;
                        font-size: 11.5px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: #FF0000;
                        }
                    }

                    .article_large_heading {
                        font-family: merriweather;
                        font-size: 20px;
                        line-height: 1.5em;
                        font-weight: 700;
                        margin-bottom: 40px;

                        a {
                            text-decoration: none;
                            color: #333;
                        }
                    }

                    .article_large_summary {
                        font-family: "open sans";
                        color: #747474;
                        font-size: 15px;
                        line-height: 1.85em;
                    }

                    .article_details__bottom {
                        margin: 50px 0px 0px;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        &__lhs {
                            a {
                                color: #747474;
                                padding: 13px 26px;
                                border: 1px solid #747474;
                                border-radius: 50px;
                                font-family: montserrat;
                                font-size: 11px;
                                text-transform: uppercase;
                                text-decoration: none;
                                transition: all .3s ease;
                                display: flex;
                                user-select: none;

                                &:hover {
                                    color: #fff;
                                    background-color: #747474;
                                }
                            }
                        }

                        &__rhs {
                            font-family: merriweather;
                            font-size: 15px;
                        }
                    }
                }
            }

            .article_small_container {
                .article_small {
                    background-color: #fff;
                    //height: 500px;
                    margin-bottom: 30px;

                    img {
                        max-height: 225px;
                        min-height: 225px;
                        width: 100%;
                        object-fit: cover;
                    }

                    .video_container {
                        position: relative;
                        width: 100%;
                        max-height: 225px;
                        min-height: 225px;
                        //padding-bottom: 56.25%;

                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    
                }
            }
        }
    }

    &__rhs {

        &__container {
            width: 100%;

            .about_div, .featured_div {
                background-color: #fff;
                margin-bottom: 30px;
                padding: 25px 20px;
                border: 1px solid #eee;

                .rhs_title {
                    font-family: montserrat;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 25px;
                }

                p {
                    margin-top: 10px;
                    color: #747474;
                    //font-family: "merriweather sans";
                    //font-size: 14px;
                    font-family: "open sans";
                    font-size: 14px;
                    line-height: 1.65em;
                    margin-bottom: 0px;
                }
            }

            .about_div {
                height: auto;

                p {
                    /* width: 90%;
                    margin: 0 auto;
                    text-align: center; */
                }
                
                img {
                    background-color: #aaa;
                    height: 350px;
                    width: 100%;
                    display: block;
                    margin-bottom: 15px;
                    object-fit: cover;
                    object-position: center;
                }

                .author_name {
                    font-family: "merriweather sans";
                    font-weight: 600;
                    font-size: 15px;
                    margin: 25px 0px;
                    color: #000;
                    //text-align: center;
                    //text-transform: uppercase;
                }

                .social_icons_container {
                    display: flex;
                    flex-direction: column;
                    /* width: 95%;
                    margin: 0 auto;
                    text-align: center; */
                    margin-top: 25px;

                    .social_icon {
                        margin: 5px 0px;
                        i {
                            color: #888;
                            font-size: 14px;
                            margin-right: 5px;
                        }
    
                        a{
                            font-size: 13px;
                        }
                    }

                    
                }
            }

            .featured_div {
                height: auto;

                .featured_posts_container {
                    .featured_post {
                        margin-top: 30px;
                        

                        &__image {
                            img {
                                height: 85px;
                                object-fit: cover;
                                width: 100%;
                                display: block;
                                //object-position: top;

                                @include media-breakpoint-down(md) {
                                    height: 125px;
                                }
                            }
                            margin-bottom: 15px;
                        }

                        &__text {
                            padding-left: 0px;
                            @include media-breakpoint-down(sm){
                                padding-left: 15px;
                            }
                            .category_title {
                                color: #FF0000;
                                font-family: montserrat;
                                font-size: 10px;
                                font-weight: 600;
                                text-transform: uppercase;
                                margin-bottom: 10px;
                            }

                            .post_title {
                                font-family: merriweather;
                                font-size: 14px;
                                line-height: 1.5em;
                                font-weight: 700;
                                margin-bottom: 0px;    
                            }
                        }
                    }
                }
            }
        }
    }
}
/*** Body Content ***/


/*** Footer ***/
#footer {
    margin-top: 45px;
    //height: 400px;
    background-color: #f2f2f2;
    padding:45px 0px;

    & > div > div {
        @include media-breakpoint-down(md) {
            margin-bottom: 45px;
        }
        
    }

    .footer_logo {
        img {
            width: 150px;
        }
        
        .logo_p {
            color: #000;
            font-size: 15px;
            margin-top: 35px;
            margin-bottom: 0px;
            line-height: 1.75em;
        }
    }

    .footer_title {
        font-size: 15px;
        font-family: montserrat;
        text-transform: uppercase;
        font-weight: 600;
    }

    .footer_spacing {
        @include media-breakpoint-down(lg) {
            margin-bottom: 0px !important;
        }
    }

    .footer_category {
        padding-left: 30px;

        @include media-breakpoint-down(lg) {
            padding-left: 15px;
        }

        .categories_container {
            display: flex;
            flex-direction: column;
            margin-top: 60px;

            @include media-breakpoint-down(md) {
                margin-top: 30px;
            }

            a {
                font-family: montserrat;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                margin: 10px 0px;
                color: #666;
            }
        }
    }

    .footer_recent {
        .featured_posts_container {
            margin-top: 55px;
            @include media-breakpoint-down(md) {
                margin-top: 30px;
            }
            .featured_post {
                margin-top: 20px;
                &__image {
                    img {
                        height: 85px;
                        object-fit: cover;
                        width: 100%;
                        display: block;
                        //object-position: top;

                        @include media-breakpoint-down(md) {
                            height: 125px;
                        }
                    }
                    margin-bottom: 15px;
                }

                &__text {
                    padding-left: 0px;

                    .category_title {
                        color: #FF0000;
                        font-family: montserrat;
                        font-size: 10px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }

                    .post_title {
                        font-family: merriweather;
                        font-size: 14px;
                        line-height: 1.5em;
                        font-weight: 700;
                        margin-bottom: 0px;    
                    }
                }
                
            }
        }
    }
}
/*** Footer ***/